#containeBlocButton {
  // background: #c90b0b;
  & > div {
    background-color: rgb(41 38 38);
  }
  .spanBarre::before {
    content: "";
    width: 50%;
    background: var(--colorOrange);
    height: 5px;
    box-shadow: 0 0 5px var(--colorOrange), 0 0 10px var(--colorOrange),
      0 0 20px var(--colorOrange);
  }
}
