@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --size: 50px;
  --background: #ffffff;
  --foreground: #171717;
  --colorOrange: #dc6e33;
  --blackLight: #313030;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  /* background: var(--foreground); */

  font-family: Arial, Helvetica, sans-serif;
}

.customLiNav {
  background: #313030;
  border-radius: 50%;
  padding: 10px;
  border: 3px double #dc6e33;
  box-shadow: -2px 4px 5px #0a0a0a;
  transform: rotateX(20deg);
}

.customBarreDecoHome {
  background: repeating-radial-gradient(#272727, transparent 100px);
}

.rotateTable {
  transform: rotateX(30deg);
}

/* ------------------------ containePosts --------------- */

.customContainePosts {
  border-radius: 26% 8% 10% 4% / 4% 18% 10% 18%;
  clip-path: polygon(
    0 5%,
    13% 0,
    51% 0,
    68% 3%,
    86% 0,
    100% 3%,
    100% 100%,
    80% 100%,
    60% 100%,
    27% 100%,
    14% 100%,
    0 100%
  );
}

.customContainePosts::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 147px;
  width: 5px;
  height: 65px;
  background: #dc6e33;
  clip-path: polygon(100% 0, 69% 53%, 34% 100%, 0 100%, 0% 50%, 0 0);
}

.customContainePosts::after {
  content: "";
  position: absolute;
  right: 154px;
  top: 358px;
  width: 6px;
  height: 130px;
  background: #dc6e33;
  clip-path: polygon(100% 0, 69% 53%, 34% 100%, 0 100%, 0% 50%, 0 0);
  transform: rotateZ(88deg);
}

.customContainePosts > div:first-child {
  border-radius: 26% 13% 0% 0% / 13% 35% 10% 18%;
  clip-path: polygon(
    0 8%,
    13% 0,
    51% 0,
    67% 0,
    86% 0,
    99% 8%,
    100% 100%,
    80% 100%,
    60% 100%,
    27% 100%,
    14% 100%,
    0 100%
  );
}
.customContainePosts > div:last-child {
  /* clip-path: polygon(8% 6%, 94% 5%, 100% 100%, 4% 95%); */
  border-radius: 0 0 35px 15px;
  /* color: red; */
}
