@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --colorOrange: #dc6e33;
  --blackLight: #313030;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  /* background: var(--foreground); */

  font-family: Arial, Helvetica, sans-serif;
}

.customLiNav {
  background: #313030;
  border-radius: 50%;
  padding: 10px;
  border: 3px double #dc6e33;
  box-shadow: -2px 4px 5px #0a0a0a;
  transform: rotateX(30deg);
}

.customBarreDecoHome {
  background: repeating-radial-gradient(#272727, transparent 100px);
}

.rotateTable {
  transform: rotateX(30deg);
}